*.o
*.cur
*.swp
autom4te.cache/
src/.deps/
src/mpwm
config.status
config.log
stamp-h1
config.h

src/Makefile
Makefile
images/Makefile
configure

Makefile.in
aclocal.m4
images/Makefile.in
src/Makefile.in
